<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="Cedar.Connection" connectionString="Provider=Microsoft.SQLSERVER.CE.OLEDB.3.5;Data Source=|DataDirectory|\Data\CedarData.sdf" />
    <add name="Cedar.Properties.Settings.CedarDataConnectionString"
      connectionString="Provider=Microsoft.SQLSERVER.CE.OLEDB.3.5;Data Source=|DataDirectory|\Data\CedarData.sdf"
      providerName="Microsoft.SqlServerCe.Client.3.5" />
  </connectionStrings>

  <appSettings>
    
    
    <add key="DatabaseType" value="SDF"  />
    
    <!-- it could be Sql or Xml -->
    <add key="DataFetchType" value="SQL"  />
  </appSettings>
  
  

</configuration>